.register-content-footer {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    span {
        font-family: 'Mulish';
        font-style: normal;
        font-variation-settings: 'wght' 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #404564;
    }

    a {
        font-family: 'Mulish';
        font-style: normal;
        font-variation-settings: 'wght' 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #393A42;
        text-decoration: none;
    }
}