.login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 410px;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 8px;

    @media (max-width: 425px) {
        width: 80vw;
        height: fit-content;
        border: none;
        min-height: 460px;
    }
}